<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="utilities.Listeners"/>
    </listeners>
    <test thread-count="3" name="Test">
        <classes>
<!--&lt;!&ndash;            <class name="comJson_parsing_getSet.JSON_parsing_test"></class>&ndash;&gt;-->
<!--            <class name="RequestDemo.getDataRequest"/>-->
<!--            <class name="RequestDemo.PostDataReqest"/>-->
<!--            <class name="RequestDemo.deleteDataRequest"/>-->
<!--            <class name="RequestDemo.putDataRequest"/>-->
            <class name="comJson_parsing_getSet.JSON_parsing_test"/>

        </classes>
    </test>
</suite>
